<div class="questions-page clearfix">
    <app-questions-table
        class="questions-page__questions questions-page__questions--all"
        [ngClass]="{'questions-page__questions--quick-view-opened': quickViewQuestionsLoading || quickViewQuestions.length}"
        [questions]="questions"
        (quickViewSearch)="quickViewSearch($event)"
        [title]="questionsTitle"
    ></app-questions-table>
    <div class="questions-page__questions questions-page__questions-view">
        <div class="questions-page__spinner-wrap">
            <mat-spinner
                class="questions-page__spinner"
                *ngIf="quickViewQuestionsLoading">
            </mat-spinner>
        </div>
        <app-questions-table
            [title]="quickViewQuestionsTitle"
            [questions]="quickViewQuestions"
            (quickViewSearch)="quickViewSearch($event)"
            *ngIf="!quickViewQuestionsLoading && quickViewQuestions.length">
        </app-questions-table>
    </div>
</div>

