<div class="answers">
    <div class="answers__question">
        <h1 class="answers__question-title">
            {{question.title}}
        </h1>
        <div class="answers__question-body" [innerHtml]="question.body">

        </div>
    </div>
    <div class="answers__spinner-wrap">
        <mat-spinner
            class="answers__spinner"
            *ngIf="loading">
        </mat-spinner>
    </div>
    <h1 *ngIf="!answers.length && !loading; else answersBlock">
        No answers found for this question
    </h1>
    <ng-template #answersBlock>
        <div *ngFor="let answer of answers" class="answers__answer">
            <div [innerHtml]="answer.body"></div>
        </div>
    </ng-template>
</div>
